@model StripeDemo.Models.ViewModels.AccountViewModel;

@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<div>
    <h4>UserInfos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserInfos.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserInfos.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserInfos.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserInfos.Name)
        </dd>
    </dl>
</div>

